
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.cart{
   position: fixed;
   top: 0;
   right: -100%;
   width: 360px;
   min-height: 100vh;
   padding: 20px;
   background: var(--bg-color);
   box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
   transition: 0.3s;
}

.cart.active{
   right: 0;
}

.container{
   margin:auto;
   width: 100%;
}

.logo{
   font-size: 1.3rem;
   font-weight: 400;
}

#cart-icon{
   font-size: 2rem;
   cursor: pointer;
   padding-left: 85rem;
   padding-top: 1rem;
   size: 10px;
}


.cart-box{
   display: grid;
   grid-template-columns: 32% 50% 18%;
   align-items: center;
   gap: 1rem;
   margin-top: 1rem;
}

.cart-img{
   width: 100px;
   height: 100px ;
   object-fit: contain;
   padding: 10px;
}

.detail-box{
   display: grid;
   row-gap: 0.5rem;
}

.cart-product-title{
   font-size: 1rem;
   text-transform: uppercase;
}

.cart-price{
   font-weight: 500;
}

.cart-quantity{
   border: 1px solid var(--text-color);
   width: 2.2rem;
   text-align: center;
   font-size: 1rem;
}

.cart-remove{
   cursor: pointer;
   font-size: 24px;
}

.total{
   display: flex;
   justify-content: flex-end;
   margin-top: 1.5rem;
   border-top: 1px solid var(--text-color);
}

.total-title{
   font-size: 1rem;
   font-weight: 600;
}

.total-price{
   margin-left: 0.5rem;
}

.btn-buy{
   display: flex;
   margin: 1.5rem auto 0 auto;
   padding: 12px 20px;
   border: none;
   font-size: 1rem;
   font-weight: 500;
   cursor: pointer;
}

#close-cart{
   position: absolute;
   top: 1rem;
   left: 0.8rem;
   font-size: 2rem;
   cursor: pointer;
}

.product-title{
   text-transform: uppercase;
   font-size: 1.1rem;
}

.add-cart{
   position: absloute;
   bottom: 0;
   right: 0;
   padding: 10px;
   cursor: pointer;
}

.add-cart:hover{
   background: hsl(249, 32%, 17%);
}

.cart-title{
   cursor: pointer;
   right: 8rem;
   color: blue;
}