
.card-deck {
    padding: 5% 10%;
    padding-top: 50px;
    background-color: #73938E;
    margin: auto;
    width: 100%;
}

.card {
    margin-top: 5%;
}
@media (max-width: 992px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        padding-top: 60px;
        width: 50%;
    }

    .press-image {
        margin: 40px 50px;
        width: 20%;
    }

}

@media (min-width: 1832px) {


    .title-image {
        width: 90%;
        padding-top: 10%;
        margin-left: 10%;

    }

}