
@import url(https://db.onlinewebfonts.com/c/68b898f6044bbee439423445076f3168?family=Roxborough+CF+Thin);

body {
  font-family: "Roxborough CF Thin";

  background-color: #73938E;
  margin: auto;
  width: 100%;
}


:root {
  --font-family: "Roxborough CF Thin";
  --light-black: #424140;
}

.container .col-md-7 {
  font-family: "Roxborough CF Thin";
}

.container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

.container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

.container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

.cover {
    width: 100%;
    height: 55vmin;
    background: url("../img/logo.jpeg");
    background-position: -20rem -19rem;
    background-size: 98%;
    position: relative;
  }
  
  .cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  .cover .content {
    width: 100%;
    height: 100%;
    background: rgba(1, 25, 44, 0.938);
    padding-top: 19vmin;
  }
  
  .cover .content > h1 {
    font-family: "Roxborough CF Thin";
    font-size: 6vmin;
    color: whitesmoke;
  }
  
  .cover .content > p {
    font-family: "Roxborough CF Thin";
    font-size: 2vmin;
    color: #EBE9E9;
  }
  
  .numbers .rect {
    position: relative;
    z-index: 1;
    background: #EBE9E9;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(7, 8, 59, 0.938);
  }
  
  .numbers {
    margin-top: -15vmin;
  }
  
  .numbers .rect h1 {
    font-size: 5rem;
    color: rgb(67, 140, 150);
  }
  
  .numbers .rect > p {
    font-family: "Roxborough CF Thin";
  }
  
  
  .section-2 {
    height: 60vmin;
    margin-top: 3vmin;
  }
  
  .section-2 .col-md-12 > h1 {
    padding: 2em 0 0.5em 0;
    color: #EBE9E9;
    font-size: 6vmin;
  }

  .section-2 .col-md-12 > p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: #424140;
    font-size: 3vmin;
  }
  
  .section-2 .desktop {
    background: #EBE9E9;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
  }

  .platform-row {
    justify-items: center;
    display: inline-block;
  }

  .section-2 .desktop h3 {
    font-size: 4vmin;
  }
  
  .section-2 .desktop p {
    font-size: 2vmin;
  }
.rect{
  text-align: center;
}
