@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}
header,
section {
  overflow-x: hidden;
}
.logo{
image-orientation: 300 ;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #55aad1, #172746);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: #172746;
  /* fallback for old browsers */
  background: var(--bggradient);
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}


.cover {
    width: 100%;
    height: 55vmin;
    background: url("../img/logo.jpeg");
    background-position: -20rem -19rem;
    background-size: 98%;
    position: relative;
  }
  
  .cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  .cover .content {
    width: 100%;
    height: 100%;
    background: rgba(1, 25, 44, 0.938);
    padding-top: 19vmin;
  }
  
  .cover .content > h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
  }
  
  .cover .content > p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
  }
  
  .numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(7, 8, 59, 0.938);
  }
  
  .numbers {
    margin-top: -15vmin;
  }
  
  .numbers .rect h1 {
    font-size: 5rem;
    color: rgb(67, 140, 150);
  }
  
  .numbers .rect > p {
    font-family: var(--Patua);
  }
  
  
  .section-2 {
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
  }
  
  .section-2 .col-md-12 > h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
  }

  .section-2 .col-md-12 > p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
  }
  
  .section-2 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
  }
  
  .section-2 .desktop h3 {
    font-size: 4vmin;
  }
  
  .section-2 .desktop p {
    font-size: 2vmin;
  }
  
  footer {
    background: rgba(202, 213, 224, 0.575);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
  }
  
  footer p > span {
    color: #2039a775;
  }
  
  footer input {
    border: none !important;
  }
  
  footer input::placeholder {
    color: white !important;
  }
  
  footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
  }
  
  footer .column i {
    color: #070707;
  }
 
  footer .column i + i {
    padding: 0 0.5em;
  }
  .rect{
    text-align: center;
  }